/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  text-size: 22px;
  color: red;
}

.green-box {
  height: 100px;
  width: 100px;
  background-color: green;
}

.purple-border {
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  border: 4mm ridge rgba(170, 50, 220, .6);
}

.red-background {
  padding: 20px;
  background-color: red;
}

.blue-background {
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 5px;
}